etl/nifi/templates/feeds/github_events.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<template encoding-version="1.3">
  <name>github_events</name>
  <description>InvokeHTTP GitHub events → LogAttribute</description>
  <snippet>
    <processors>
      <processor>
        <id>gh-1</id>
        <name>InvokeHTTP (GitHub events)</name>
        <class>org.apache.nifi.processors.standard.InvokeHTTP</class>
        <maxConcurrentTasks>1</maxConcurrentTasks>
        <schedulingPeriod>10 min</schedulingPeriod>
        <properties>
          <property><name>Remote URL</name><value>https://api.github.com/events</value></property>
          <property><name>add-headers-to-request</name><value>Authorization: token ${github.token}</value></property>
          <property><name>User Agent</name><value>InfoTerminal-NiFi</value></property>
        </properties>
        <autoTerminatedRelationships><relationship>failure</relationship></autoTerminatedRelationships>
      </processor>
      <processor>
        <id>gh-2</id>
        <name>LogAttribute</name>
        <class>org.apache.nifi.processors.standard.LogAttribute</class>
        <maxConcurrentTasks>1</maxConcurrentTasks>
        <schedulingPeriod>10 min</schedulingPeriod>
      </processor>
    </processors>
    <connections>
      <connection><id>gh-c1</id><sourceId>gh-1</sourceId><sourceRelationship>response</sourceRelationship><destinationId>gh-2</destinationId></connection>
    </connections>
    <inputPorts/><outputPorts/><funnels/><labels/><controllerServices/>
  </snippet>
  <timestamp>2025-09-10T00:00:00Z</timestamp>
  <description>Parameters: github.token (optional)</description>
</template>
