etl/nifi/templates/feeds/github_to_opensearch.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<template encoding-version="1.3">
  <name>github_to_opensearch</name>
  <description>GitHub events → SplitJson → PutElasticsearchHttp</description>
  <snippet>
    <processors>
      <processor>
        <id>g1</id>
        <name>InvokeHTTP (GitHub events)</name>
        <class>org.apache.nifi.processors.standard.InvokeHTTP</class>
        <schedulingPeriod>10 min</schedulingPeriod>
        <properties>
          <property><name>Remote URL</name><value>https://api.github.com/events</value></property>
          <property><name>User Agent</name><value>InfoTerminal-NiFi</value></property>
          <property><name>add-headers-to-request</name><value>Authorization: token ${github.token}</value></property>
        </properties>
      </processor>
      <processor>
        <id>s1</id>
        <name>SplitJson</name>
        <class>org.apache.nifi.processors.standard.SplitJson</class>
        <properties>
          <property><name>JsonPath Expression</name><value>${json.path:-$.[*]}</value></property>
        </properties>
      </processor>
      <processor>
        <id>e1</id>
        <name>PutElasticsearchHttp</name>
        <class>org.apache.nifi.processors.elasticsearch.PutElasticsearchHttp</class>
        <properties>
          <property><name>elasticsearch-http-url</name><value>${opensearch.url}</value></property>
          <property><name>index</name><value>${index.name}</value></property>
          <property><name>type</name><value>_doc</value></property>
        </properties>
      </processor>
    </processors>
    <connections>
      <connection><id>c1</id><sourceId>g1</sourceId><sourceRelationship>response</sourceRelationship><destinationId>s1</destinationId></connection>
      <connection><id>c2</id><sourceId>s1</sourceId><sourceRelationship>split</sourceRelationship><destinationId>e1</destinationId></connection>
    </connections>
  </snippet>
  <timestamp>2025-09-10T00:00:00Z</timestamp>
</template>
