etl/nifi/templates/feeds/mastodon_public_timeline.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<template encoding-version="1.3">
  <name>mastodon_public_timeline</name>
  <description>InvokeHTTP Mastodon public timeline → LogAttribute</description>
  <snippet>
    <processors>
      <processor>
        <id>md-1</id>
        <name>InvokeHTTP (Mastodon)</name>
        <class>org.apache.nifi.processors.standard.InvokeHTTP</class>
        <maxConcurrentTasks>1</maxConcurrentTasks>
        <schedulingPeriod>1 min</schedulingPeriod>
        <properties>
          <property><name>Remote URL</name><value>${mastodon.base.url}/api/v1/timelines/public?limit=20</value></property>
          <property><name>add-headers-to-request</name><value>Authorization: Bearer ${mastodon.token}</value></property>
        </properties>
        <autoTerminatedRelationships><relationship>failure</relationship></autoTerminatedRelationships>
      </processor>
      <processor>
        <id>md-2</id>
        <name>LogAttribute</name>
        <class>org.apache.nifi.processors.standard.LogAttribute</class>
        <maxConcurrentTasks>1</maxConcurrentTasks>
        <schedulingPeriod>1 min</schedulingPeriod>
      </processor>
    </processors>
    <connections>
      <connection><id>md-c1</id><sourceId>md-1</sourceId><sourceRelationship>response</sourceRelationship><destinationId>md-2</destinationId></connection>
    </connections>
    <inputPorts/><outputPorts/><funnels/><labels/><controllerServices/>
  </snippet>
  <timestamp>2025-09-10T00:00:00Z</timestamp>
  <description>Parameters: mastodon.base.url, mastodon.token</description>
</template>
