etl/nifi/templates/feeds/rsshub_to_opensearch.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<template encoding-version="1.3">
  <name>rsshub_to_opensearch</name>
  <description>InvokeHTTP RSSHub → PutElasticsearchHttp (OpenSearch)</description>
  <snippet>
    <processors>
      <processor>
        <id>rss-1</id>
        <name>InvokeHTTP (RSSHub)</name>
        <class>org.apache.nifi.processors.standard.InvokeHTTP</class>
        <schedulingPeriod>1 min</schedulingPeriod>
        <properties>
          <property><name>Remote URL</name><value>${rsshub.url}</value></property>
        </properties>
        <autoTerminatedRelationships><relationship>failure</relationship></autoTerminatedRelationships>
      </processor>
      <processor>
        <id>es-1</id>
        <name>PutElasticsearchHttp</name>
        <class>org.apache.nifi.processors.elasticsearch.PutElasticsearchHttp</class>
        <schedulingPeriod>1 min</schedulingPeriod>
        <properties>
          <property><name>elasticsearch-http-url</name><value>${opensearch.url}</value></property>
          <property><name>index</name><value>${index.name}</value></property>
          <property><name>type</name><value>_doc</value></property>
          <property><name>batch-size</name><value>100</value></property>
        </properties>
      </processor>
    </processors>
    <connections>
      <connection>
        <id>c1</id>
        <sourceId>rss-1</sourceId>
        <sourceRelationship>response</sourceRelationship>
        <destinationId>es-1</destinationId>
      </connection>
    </connections>
    <inputPorts/><outputPorts/><funnels/><labels/><controllerServices/>
  </snippet>
  <timestamp>2025-09-10T00:00:00Z</timestamp>
  <description>Parameters: rsshub.url, opensearch.url (e.g., http://opensearch:9200), index.name</description>
</template>
