etl/nifi/templates/feeds/rsshub_ingest.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<template encoding-version="1.3">
  <name>rsshub_ingest</name>
  <description>InvokeHTTP RSSHub → LogAttribute</description>
  <snippet>
    <processors>
      <processor>
        <id>rss-1</id>
        <name>InvokeHTTP (RSSHub)</name>
        <class>org.apache.nifi.processors.standard.InvokeHTTP</class>
        <maxConcurrentTasks>1</maxConcurrentTasks>
        <schedulingPeriod>1 min</schedulingPeriod>
        <autoTerminatedRelationships>
          <relationship>failure</relationship>
        </autoTerminatedRelationships>
        <properties>
          <property>
            <name>Remote URL</name><value>${rsshub.url}</value>
          </property>
        </properties>
      </processor>
      <processor>
        <id>rss-2</id>
        <name>LogAttribute</name>
        <class>org.apache.nifi.processors.standard.LogAttribute</class>
        <maxConcurrentTasks>1</maxConcurrentTasks>
        <schedulingPeriod>1 min</schedulingPeriod>
      </processor>
    </processors>
    <connections>
      <connection>
        <id>rss-c1</id>
        <sourceId>rss-1</sourceId>
        <sourceRelationship>response</sourceRelationship>
        <destinationId>rss-2</destinationId>
      </connection>
    </connections>
    <inputPorts/><outputPorts/><funnels/><labels/><controllerServices/>
  </snippet>
  <timestamp>2025-09-10T00:00:00Z</timestamp>
  <description>Parameter: rsshub.url</description>
</template>
