etl/nifi/templates/feeds/shodan_search.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<template encoding-version="1.3">
  <name>shodan_search</name>
  <description>InvokeHTTP Shodan search → LogAttribute</description>
  <snippet>
    <processors>
      <processor>
        <id>sho-1</id>
        <name>InvokeHTTP (Shodan)</name>
        <class>org.apache.nifi.processors.standard.InvokeHTTP</class>
        <maxConcurrentTasks>1</maxConcurrentTasks>
        <schedulingPeriod>30 min</schedulingPeriod>
        <properties>
          <property>
            <name>Remote URL</name><value>${shodan.api.url}</value>
          </property>
        </properties>
        <autoTerminatedRelationships>
          <relationship>failure</relationship>
        </autoTerminatedRelationships>
      </processor>
      <processor>
        <id>sho-2</id>
        <name>LogAttribute</name>
        <class>org.apache.nifi.processors.standard.LogAttribute</class>
        <maxConcurrentTasks>1</maxConcurrentTasks>
        <schedulingPeriod>30 min</schedulingPeriod>
      </processor>
    </processors>
    <connections>
      <connection>
        <id>sho-c1</id>
        <sourceId>sho-1</sourceId>
        <sourceRelationship>response</sourceRelationship>
        <destinationId>sho-2</destinationId>
      </connection>
    </connections>
    <inputPorts/><outputPorts/><funnels/><labels/><controllerServices/>
  </snippet>
  <timestamp>2025-09-10T00:00:00Z</timestamp>
  <description>Parameters: shodan.api.url (e.g., https://api.shodan.io/shodan/host/search?key=${shodan.api.key}&query=org:ACME)</description>
</template>
