etl/nifi/templates/feeds/telegram_poll.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<template encoding-version="1.3">
  <name>telegram_get_updates</name>
  <description>InvokeHTTP Telegram Bot API getUpdates → LogAttribute</description>
  <snippet>
    <processors>
      <processor>
        <id>tg-1</id>
        <name>InvokeHTTP (Telegram)</name>
        <class>org.apache.nifi.processors.standard.InvokeHTTP</class>
        <maxConcurrentTasks>1</maxConcurrentTasks>
        <schedulingPeriod>30 sec</schedulingPeriod>
        <properties>
          <property><name>Remote URL</name><value>https://api.telegram.org/bot${telegram.bot.token}/getUpdates</value></property>
        </properties>
        <autoTerminatedRelationships><relationship>failure</relationship></autoTerminatedRelationships>
      </processor>
      <processor>
        <id>tg-2</id>
        <name>LogAttribute</name>
        <class>org.apache.nifi.processors.standard.LogAttribute</class>
        <maxConcurrentTasks>1</maxConcurrentTasks>
        <schedulingPeriod>30 sec</schedulingPeriod>
      </processor>
    </processors>
    <connections>
      <connection><id>tg-c1</id><sourceId>tg-1</sourceId><sourceRelationship>response</sourceRelationship><destinationId>tg-2</destinationId></connection>
    </connections>
    <inputPorts/><outputPorts/><funnels/><labels/><controllerServices/>
  </snippet>
  <timestamp>2025-09-10T00:00:00Z</timestamp>
  <description>Parameters: telegram.bot.token</description>
</template>
