etl/nifi/templates/ingest_laws_template.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<template encoding-version="1.3">
  <name>ingest_laws_watchfolder</name>
  <description>GetFile (JSON) → InvokeHTTP (rag-api /law/index) → LogAttribute</description>
  <snippet>
    <processGroups/>
    <remoteProcessGroups/>
    <processors>
      <processor>
        <id>00000000-0000-0000-0000-000000100001</id>
        <name>GetFile (laws input)</name>
        <class>org.apache.nifi.processors.standard.GetFile</class>
        <maxConcurrentTasks>1</maxConcurrentTasks>
        <schedulingPeriod>10 sec</schedulingPeriod>
        <autoTerminatedRelationships/>
        <properties>
          <property>
            <name>Input Directory</name>
            <value>${laws.input.dir}</value>
          </property>
          <property>
            <name>Keep Source File</name><value>false</value>
          </property>
        </properties>
      </processor>
      <processor>
        <id>00000000-0000-0000-0000-000000100002</id>
        <name>InvokeHTTP (rag-api index)</name>
        <class>org.apache.nifi.processors.standard.InvokeHTTP</class>
        <maxConcurrentTasks>1</maxConcurrentTasks>
        <schedulingPeriod>10 sec</schedulingPeriod>
        <autoTerminatedRelationships>
          <relationship>failure</relationship>
        </autoTerminatedRelationships>
        <properties>
          <property>
            <name>HTTP Method</name><value>POST</value>
          </property>
          <property>
            <name>Remote URL</name><value>${rag.api.url}/law/index</value>
          </property>
          <property>
            <name>Content-Type</name><value>application/json</value>
          </property>
        </properties>
      </processor>
      <processor>
        <id>00000000-0000-0000-0000-000000100003</id>
        <name>LogAttribute</name>
        <class>org.apache.nifi.processors.standard.LogAttribute</class>
        <maxConcurrentTasks>1</maxConcurrentTasks>
        <schedulingPeriod>10 sec</schedulingPeriod>
      </processor>
    </processors>
    <connections>
      <connection>
        <id>c-invoke</id>
        <name>get→invoke</name>
        <sourceId>00000000-0000-0000-0000-000000100001</sourceId>
        <sourceRelationship>success</sourceRelationship>
        <destinationId>00000000-0000-0000-0000-000000100002</destinationId>
      </connection>
      <connection>
        <id>c-log</id>
        <name>invoke→log</name>
        <sourceId>00000000-0000-0000-0000-000000100002</sourceId>
        <sourceRelationship>response</sourceRelationship>
        <destinationId>00000000-0000-0000-0000-000000100003</destinationId>
      </connection>
    </connections>
    <inputPorts/><outputPorts/><funnels/><labels/><controllerServices/>
  </snippet>
  <timestamp>2025-09-10T00:00:00Z</timestamp>
</template>
