etl/nifi/templates/rag_index_template.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<template encoding-version="1.3">
  <name>rag_index_demo</name>
  <description>GenerateFlowFile (law JSON) → InvokeHTTP (rag-api /law/index) → LogAttribute</description>
  <snippet>
    <processGroups/>
    <remoteProcessGroups/>
    <processors>
      <processor>
        <id>00000000-0000-0000-0000-000000110001</id>
        <name>GenerateFlowFile</name>
        <class>org.apache.nifi.processors.standard.GenerateFlowFile</class>
        <maxConcurrentTasks>1</maxConcurrentTasks>
        <schedulingPeriod>10 sec</schedulingPeriod>
        <autoTerminatedRelationships>
          <relationship>failure</relationship>
        </autoTerminatedRelationships>
        <properties>
          <property>
            <name>generate-ff-custom-text</name>
            <value>{"id":"demo_law","title":"Demo Law","paragraph":"§X","text":"Dies ist ein Demo-Paragraph."}</value>
          </property>
          <property>
            <name>File Size</name><value>0B</value>
          </property>
        </properties>
      </processor>
      <processor>
        <id>00000000-0000-0000-0000-000000110002</id>
        <name>InvokeHTTP (rag-api index)</name>
        <class>org.apache.nifi.processors.standard.InvokeHTTP</class>
        <maxConcurrentTasks>1</maxConcurrentTasks>
        <schedulingPeriod>10 sec</schedulingPeriod>
        <autoTerminatedRelationships>
          <relationship>failure</relationship>
        </autoTerminatedRelationships>
        <properties>
          <property>
            <name>HTTP Method</name><value>POST</value>
          </property>
          <property>
            <name>Remote URL</name><value>${rag.api.url}/law/index</value>
          </property>
          <property>
            <name>Content-Type</name><value>application/json</value>
          </property>
        </properties>
      </processor>
      <processor>
        <id>00000000-0000-0000-0000-000000110003</id>
        <name>LogAttribute</name>
        <class>org.apache.nifi.processors.standard.LogAttribute</class>
        <maxConcurrentTasks>1</maxConcurrentTasks>
        <schedulingPeriod>10 sec</schedulingPeriod>
      </processor>
    </processors>
    <connections>
      <connection>
        <id>c1</id>
        <name>gen→invoke</name>
        <sourceId>00000000-0000-0000-0000-000000110001</sourceId>
        <sourceRelationship>success</sourceRelationship>
        <destinationId>00000000-0000-0000-0000-000000110002</destinationId>
      </connection>
      <connection>
        <id>c2</id>
        <name>invoke→log</name>
        <sourceId>00000000-0000-0000-0000-000000110002</sourceId>
        <sourceRelationship>response</sourceRelationship>
        <destinationId>00000000-0000-0000-0000-000000110003</destinationId>
      </connection>
    </connections>
    <inputPorts/><outputPorts/><funnels/><labels/><controllerServices/>
  </snippet>
  <timestamp>2025-09-10T00:00:00Z</timestamp>
</template>
